<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <h3 class="my-heading ">ASP.NET Core<span class="bg-main"> With Docker</span></h3>
            </a>
        </div>
    </nav>

    <header class="masthead text-white ">
        <div class="overlay"></div>
        <div class="container slider-top-text">
            
        </div>
    </header>

    <footer class="footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left my-auto  wow zoomIn">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.2">Web ASP.NET Core</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.docker.com/">Web Docker</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© Leandro Vidal.</p>
                </div>
                <div class="col-lg-6 text-center text-lg-right my-auto  wow zoomIn">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-github fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>
        new WOW().init();
    </script>

</body>


<style type="text/css">
    body {
        font-family: 'Open Sans', sans-serif !important;
        background: #d4d4d5;
        color: #222;
    }

    header.masthead {
        position: relative;
        height: 100vh;
        background-color: #d4d4d5;
        background-size: cover;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

        header.masthead .overlay {
            position: absolute;
            background-color: #212529;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: .3
        }

    h3.my-heading {
        font-family: 'Kaushan Script', cursive;
        color: #fff;
        font-weight: bold;
        font-size: 30px;
        margin: 0;
    }

    p.myp-slider.text-center {
        color: #fff;
    }

    span.bg-main {
        color: #008ba3;
    }

    #main {
        display: none;
    }

    footer.footer {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

    li.list-inline-item a {
        color: #fff;
        text-decoration: none;
    }


</style>
